name: techobyte

volumes:
  caddy_data:
  caddy_config:

services:
  web:
    build:
      context: ../../
      dockerfile: .containers/prod/Dockerfile
      args:
        HUGO_BASEURL: ${HUGO_BASEURL:-http://localhost/}
    restart: unless-stopped
    ports:
      - ${HTTP_PORT:-80}:80
      - ${HTTPS_PORT:-443}:443
    environment:
      CADDY_SITE_ADDRESS: ${CADDY_SITE_ADDRESS:-localhost}
      CADDY_EMAIL: ${CADDY_EMAIL:-admin@example.org}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
