/*
    PaperMod - override hugo's syntax highlighter
        https: //github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
*/
.chroma {
    background-color: unset;
}