---
name: "Test Hugo Build"

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.152.2"
          extended: true

      - name: Build site
        run: hugo --gc --minify

      # - name: Test links
      #   uses: lycheeverse/lychee-action@v1
      #   with:
      #     args: >-
      #       --base-verification false
      #       --no-progress
      #       public/**/*.html

      # - name: Check RSS
      #   run: |
      #     curl --fail -s public/rss.xml | grep -q "techobyte.cc" || exit 1
