name: "Vale Check"

on:
  workflow_dispatch:
#   pull_request:
#     branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  vale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Vale
        run: |
          curl -sfL https://github.com/errata-ai/vale/releases/latest/download/vale_Linux_amd64.tar.gz | tar -xz -C /usr/local/bin

      - name: Vale prose linting
        run: |
          vale content/
